@page "/"
@page "Home"
@using Poster.Infrastructure.Repositories
@inherits Poster.Server.Components.Layout.PageLayout
@inject UserRepository UserRepo

Number of users: @amountOfUsers

@if (User is not null)
{
    <p>Logged in as @User.UserName</p>
}

@code{

    private int amountOfUsers;

    protected override async Task OnInitializedAsync()
    {
        title = "Home";
        amountOfUsers = await UserRepo.GetAmountOfUsers();
        await base.OnInitializedAsync();
    }

}