@using MudBlazor.Utilities
@inherits LayoutComponentBase

<MudThemeProvider Theme="CustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Color="Color.Dark" Elevation="10" Fixed="true">
        <MudText Typo="Typo.h2" Color="Color.Primary">Poster!</MudText>
        @if()
        <MudText Typo="Typo.h4" Color="Color.Primary">></MudText>
        <MudSpacer/>
        <MudButtonGroup Variant="Variant.Text" Color="Color.Primary">
            <MudButton Href="Account/Register">Register</MudButton>
            <MudButton Href="Account/Login">Login</MudButton>
        </MudButtonGroup>
    </MudAppBar>
    
    <MudDrawer Open="true"
               Color="Color.Dark"
               ClipMode="DrawerClipMode.Always"
               Elevation="5"
               Variant="DrawerVariant.Persistent">
        <MudNavMenu>
            
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent>
        <div style="margin: 10px">
            @Body
        </div>
    </MudMainContent>
    
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code{

    private MudTheme CustomTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = MudColor.Parse("#FFFFFF"),
            Dark = MudColor.Parse("#222222")
        }
    };

}